.div_block_right {
    float: right;
    clear: both;
    margin: 10px;
    top: 100px;
    z-index: 1000;
}

#contact {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.title {
    margin: 20px;
}

#homeTitle {
    float: center;
    text-align: center;
}

#search.div_block_right {
    size: 200px;
    float: right;
}

.carousel-inner img {
    width: 1100px;
    height: 500px;
}

.form {
    float: right;
    margin-right: 20px;
}

#form-inline {
    width: 200px;
}

.container {
    padding: 40px;
    border: 2px;
}

#login.container {
    top: 56px;
    left: 50%;
    position: absolute;
    z-index: 9999;
    height: 220px;
    width: 400px;
    clear: both;
    float: left;
    background-color: black;
    opacity: 0.7;
    color: white
}

.btn-primary {
    float: right;
}

label.pwd {
    text-align: left;
}

#map {
    left: 400px;
    top: 100px;
}

li .indent {
    padding-left: 3em;
}

a:hover {
    background-color: hotpink;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#mapInput {
    width: auto;
    height: 450px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: auto;
    border: 10px solid;
    border-color: rgb(0, 0, 0);
}