



h1{margin-right: 20px;
font-family: fantasy;}


.central{
   margin: 0 auto;
   width: 90%;
}

.align1, .align2, .align3, .align4 {
  float: left;
  margin: 20px;
  
  
  width: 100px;

}

.margin {

 
 margin: 0 auto;
  float: left;
  overflow: hidden;
 margin-top: 30px;
  
}

button {
  font-family: verdana;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


img {
  width: 440px;
    height: 440px;
    border: 1px solid black;

}

.product {
 
 
  margin: 30px;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  float:  left;
  display: inline-block;
  

}

p{
  font-family: verdana;
  font-size: 20px;

}

s{color: red;}

.box{background-color: white;}